<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pasta.streamer"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".Pasta"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.Transparent"/>

        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/title_activity_playing"
            android:launchMode="singleInstance"
            android:theme="@style/PlayerTheme"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name=".PlayerService"
            android:stopWithTask="true"
            android:process=":playerservice" />
    </application>

</manifest>
